
<%- include('partials/head')%> 

    <%- include('partials/navbar') %> 
    <h1>The Home page<%= 4 + 6 + 8 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolor doloremque quos vitae aliquid, ullam nulla! Totam hic architecto laboriosam quae provident officia reprehenderit delectus? Culpa, veritatis provident! Quam,</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, minus nostrum! Magni fuga, ad dicta voluptates molestias eaque repudiandae. Asperiores sunt voluptatem ratione corporis molestias illo, temporibus autem deleniti quod.</p>
    <%- include('partials/footer') %> 