<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>titles</title>
</head>
<body>
    <h1>The Home page<%= 4 + 6 + 8 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolor doloremque quos vitae aliquid, ullam nulla! Totam hic architecto laboriosam quae provident officia reprehenderit delectus? Culpa, veritatis provident! Quam,</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, minus nostrum! Magni fuga, ad dicta voluptates molestias eaque repudiandae. Asperiores sunt voluptatem ratione corporis molestias illo, temporibus autem deleniti quod.</p>
</body>
</html>